* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background: black;
}
.outside {
  display: table;
}

.container {
  display: table-cell;
  vertical-align: middle;
}

.inside {
  color: white;
  text-align: center;
}
